body {
font-family: Sans;
color: #616161;
margin-left: 10%;
margin-right: 10%;
margin-top: 1%;
}

.framagris {
color: #616161;
}

.framavert {
color: #8e9c48;
}

.framableu {
color: #0C5B7A;
}

.framaviolet {
color: #6A5687;
}

.framaorange {
color: #eb7239;
}

.framarouge {
color: #cc2d18;
}

a {
color: #0C5B7A;
}

a hover visited{
color: #cc2d18;
}

H1 {
margin-left: auto;
margin-right: auto;
width: 80%;
}

H2 {
margin-left: auto;
margin-right: auto;
width: 80%;
font-size: 110%;
color: #cc2d18;
}

.numero {
color: #fff;
background-color: #8e9c48;
padding: 5px;
border : solid 1px #ccc;
font-weight: bold;
float: left;
margin-right: 1%;
}

#jfaikoi {
border: solid 2px #ccc;
padding: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 1%;
width: 80%;
font-size: 110%;
background-color: #E3EBC7;
}


#illustration {
text-align: center;
margin-left: auto;
margin-right: auto;
}

img {
max-width: 100%;
}


.lettre {
color: #fff;
background-color: #cc2d18;
padding: 3px;
font-weight: bold;
margin-right: 1%;
}


#footer {
font-size:  80%;
width: 80%;
margin-left: auto;
margin-right: auto;
background-color: #eeeeee;
padding: 1%;
}
